*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'jost';
    color: #fff;
}

body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../images/background2.png);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1em 3em 1em 3em;
}

.nav-text{
    height: 6vh;
    align-items: center;
}

.nav-text-title{
    display: flex;
}

.nav-text-title img{
    margin-left: .2em;
}

.header-box{
    height: 10vh;
     margin-top: 1em;
    text-align: center;
}

.header-box h1{
    font-size: 3.5em;
    text-transform: uppercase;
}

.header-box h2{
    font-weight: 200;
    font-style: italic;
}

.header-box img{
    margin-top: .3em;
}

main #page-1{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title-cards{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20vh;
}

.mid-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 2vh;
}

.cards-section{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 75vw;
}

.cards {
    border: 4px solid;
    border-radius: .5em;
    height: 35vh;
    flex: 1;
    margin-left: 1.5em;
    padding: 0 1em 0em 1em;
    position: relative;
}

.cards img{
    width: 20px;
    margin-right: .5em;
    margin-top: .3em;
}

.cards ul{
    margin-top: 2.3em;
}

.cards ul li{
    margin-bottom: .7em;
    margin-left: 1.5em;
    letter-spacing: .1em;

}

#card-1{
    background-image: linear-gradient(rgba(0,0,0,0.4)), url(../images/cards/card-1.png);
    background-size: cover;
    background-position: center;
}

#card-1 .cards-title{
    font-size: 1.3em;
}

#card-2{
    background-image: linear-gradient(rgba(0,0,0,0.3)) ,url(../images/cards/card-2.png);
    background-size: cover;
    background-position: center;
}

#card-2 .cards-title{
    font-size: 1.1em;
}

#card-3{
    background-image: linear-gradient(rgba(0,0,0,0.4)),url(../images/cards/card-3.png);
    background-size: cover;
    background-position: center;
}

#card-3 .cards-title{
    font-size: 1.3em;
}


.cards-title{
    display: flex;
    margin-top: .8em;
    font-weight: 600;
    align-items: flex-start;
}

.status-page{
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 5vh;
   margin-top: 2.5em;
   align-items: center;
   height: auto;
}

.status-page-container{
    display: flex;
    align-items: center;
}

.status-page-circle{
    margin-right: 1em;
    background-color: #fff;
    border-radius: 100%;
}

.on-page{
    height: 1em;
    width: 1em;
}

.off-page{
    height: .6em;
    width: .6em;
    background-color: #afafaf;
}

.arrows{
    align-items: start;
    font-size: 1em;
    font-weight: 150;
    font-size: 3em;
    transform: translateY(-54px);
}

.arrows p {
    color: #c9c9c9;
    transform: scaleY(2);
}

.arrows a {
    text-decoration: none;
}

.container-precos{
    text-decoration: none;
    display: flex;
    border: 1px solid;
    padding: .5em;
    border-top-right-radius: 1.5em;
    border-top-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    text-transform: uppercase;
    font-size: 1em;
    box-shadow: 0 0 5px #fff;
    text-shadow: 0 0 5px #fff;
}

.container-precos a{
    text-decoration: none;
}

.elemento-esquerda{
   width: 100px;
}

/* Seção sabores locais */

.sabores-locais-section{
    background-color: black;
}

.sabores-locais-section header{
    display: flex;
}

.sabores-locais-section a{
    text-decoration: none;
}

.hidden{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
}

.text-nav{
    display: flex;
    flex-direction: column;
}
