*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'jost';
    color: #fff;
}

.content-wrapper{
    width: 100%;
}

html, body{
    overflow-x: hidden;
}

body{
    background-image: linear-gradient(rgba(30,45,60,0.9)), url(../images/background3.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.main-container{
    padding:  0 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
}

.nav-text{
    height: 6vh;
    align-items: center;
    padding-top: 1em;
}

.nav-text-title{
    display: flex;
}

.nav-text-title img{
    margin-left: .2em;
}

.header-box{
    display: flex;
    justify-content: center;   
    align-items: flex-end;
}

.header-box-price{
    text-align: end;
    margin-top: 2em;
}

.header-box-price h1{
    font-size: 4em;
}

.header-box-price h2{
    font-size: 1em;
    font-weight: 400;
}

.header-box-offer{
    border: 2px solid #4abb44;
    border-radius: .5em;
    padding: .5em 1em .5em 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-box-offer h3{
    font-weight: 400;
    font-size: 1.5em;
}

.cards-container {
    display: grid;
    grid-template-rows: repeat(1,5fr);
    width: 100%;
    flex-direction: row;
    padding: 1em 5em 1em 5em
}

.cards-container-title{
    font-size: 1.3em;
}

.cards{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    padding: 0 2em 0 2em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    min-width: 7em;
}

.card img{
    width: 4em;
    margin-bottom: 1em;
}

.special-bonus{
    background-color: rgb(249,202,88);
    width: 20%;
    border-radius: 1em;
    text-align: center;
    padding: 2em 1em 2em 1em;
    font-size: 1.2em;
}

.special-bonus > h3{
    color: rgb(39, 39, 39);
}

.special-bonus > p {
    color: rgb(42, 42, 42);
}

.special-bonus > img{
    fill: rgb(31, 31, 31);
    width: 4em;
}

.cards-container-content{
    display: flex;
}

.yellow{
    color: rgb(249,202,88);
}

.gratis{
    font-size: 2em;
}

.direction {
    display: flex;
    justify-content: space-between;
}

.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1em;
}

.button{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    margin: .5em auto;
    padding: 1em 3em 1em 3em;
    border-radius: 1em;
    background-color: rgb(184, 50, 50);
}

.button a {
    text-decoration: none;
}

.hidden{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
}

.text-nav{
    display: flex;
    flex-direction: column;
}
